@font-face {
	font-family: 'Manrope';
	src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

:root {
	--clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
	--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
	--clr-grayish-blue: hsl(212, 23%, 69%);
	--clr-light-grayish-blue: hsl(210, 46%, 95%);
	--clr-white: rgb(250, 250, 250);

	--border-radius: 10px;

	font-size: 13px;

	/* Min screen size: 320px */
	/* Max screen size: 1440px */
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Manrope', sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100dvh;
	margin: 0;

	background-color: var(--clr-light-grayish-blue);
}

main {
	max-width: 24.2rem;
	margin-block: auto;
	background-color: var(--clr-white);
}

/*** Card ***/

.card {
	border-radius: var(--border-radius);
}

.card__image {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	aspect-ratio: 16/10;
	object-fit: cover;
	object-position: 50% 26%;
}

.card__body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card__body__title {
	font-size: 1.2rem;
	font-weight: 800;
	line-height: 2.35ch;
	color: var(--clr-very-dark-grayish-blue);
}

.card__body__paragraph {
	color: var(--clr-very-dark-grayish-blue);
	line-height: 2.7ch;
}

.card__transition-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 5rem;
}

/*** *** *** Card Footer *** *** ***/

/*** *** Card Share Group *** ***/

.card__share-group {
	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: start;

	max-width: 100%;

	border-radius: 0 0 var(--border-radius) var(--border-radius);

	background-color: var(--clr-very-dark-grayish-blue);

	z-index: 10;

	transition: opacity 0.5s;
}

.card__share-group[data-active='true'] {
	opacity: 100%;
}

.card__share-group[data-active='false'] {
	opacity: 0;
	pointer-events: none;
}

.card__share-group__label {
	text-transform: uppercase;
	color: var(--clr-light-grayish-blue);
	letter-spacing: 0.8ch;
	font-weight: 100;
	margin-right: 0.4rem;
}

.card__share-group__social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.btn-social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 100%;

	padding: 0.6rem;

	background-color: none;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.btn-social-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/*** *** Card User Info *** ***/

.card__user-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.card__user-info__avatar > img {
	max-width: 3rem;
	border-radius: 100%;
}

.card__user-info__name-and-date {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.card__user-info__name {
	font-weight: 800;
	color: var(--clr-very-dark-grayish-blue);
}

.card__user-info__date {
	color: var(--clr-desaturated-dark-blue);
}

/*** Share Button ***/

.card__transition-container__btn-share {
	position: relative;

	margin-left: auto;

	border: 0;
	border-radius: 100%;

	max-width: 2.4rem;
	max-height: 2.4rem;
	width: 100%;

	aspect-ratio: 1 / 1;

	background-color: var(--clr-light-grayish-blue);

	z-index: 11;

	/*** Just to set the transitions ***/
	top: 0;
	box-shadow: none;
	filter: none;

	transition-property: top, box-shadow, filter;
	transition-duration: 0.2s;
}

.card__transition-container__btn-share:hover {
	cursor: pointer;
	filter: brightness(110%);
	top: -2px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card__transition-container__btn-share:active {
	top: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__transition-container__btn-share[data-active='true'] {
	background-color: var(--clr-desaturated-dark-blue);
}

.card__transition-container__btn-share[data-active='true'] > svg {
	fill: var(--clr-light-grayish-blue);
}

.btn-share-icon {
	fill: var(--clr-very-dark-grayish-blue);
	transition: fill 0.2s;
}

.card__transition-container__btn-share:active > svg,
.card__transition-container__btn-share[data-active='true'] {
	fill: var(--clr-light-grayish-blue);
}

/*** Attribution ***/
footer {
	margin-top: auto;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/*** Utilities ***/

.inline-padding {
	padding-inline: 2.4rem;
}

.inline-margin {
	margin-inline: 2.4rem;
}
